.login-content {
    background-color: #EFEAE4;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo-container {
	padding-top: 20%;
	padding-bottom: 3em;
	text-align: center;
	width: 95%;
	margin: auto;
}

.social-buttons {
	margin: auto;
    width: 95%;
    margin-bottom: 5px;
}

.facebook {
	background-color: #3b5998;
}

.google {
	background-color: #d34836;
}

img {
	width: 70%;
	height: 200px;
}

form {
	width: 80%;
	margin: auto;
}

.action-buttons {
	width: 80%;
	margin: auto;
}

@media (min-width: 768px) {
	form {
		width: 35%;
		margin: auto;
	}

	.action-buttons {
		width: 35%;
		margin: auto;
	}

	.logo-container {
		padding-top: 8%;
		padding-bottom: 3em;
	}
}
