<ion-content class="login-content">
	
	<div class="logo-container">
		<img src="../../assets/img/logo/logo.png" alt="como te quiero Logo">
	</div>

  	<form (ngSubmit)="login()" #loginForm="ngForm">
    	<ion-list>
      		<ion-item>
        		<ion-input type="email" placeholder="Correo" [(ngModel)]="form.email" name="name" required></ion-input>
      		</ion-item>

      		<ion-item>
        		<ion-input type="password" placeholder="Contraseña" [(ngModel)]="form.password" name="password" required></ion-input>
      		</ion-item>
    	</ion-list>

    	<button color="primary" padding ion-button block text-capitalize>
			Iniciar Sesión
    	</button>

		<ion-row padding>
    		<ion-col width-50>
				<button type="button" ion-button block text-capitalize class="social-buttons facebook">
					<ion-icon name="logo-facebook"></ion-icon>
					&nbsp; Facebook
				</button>
			</ion-col>
    		<ion-col width-50>
				<button type="button" ion-button block text-capitalize class="social-buttons google">
					<ion-icon name="logo-google"></ion-icon>
					&nbsp; Google
				</button>
			</ion-col>
		</ion-row>

  	</form>

	<ion-row class="action-buttons">
		<ion-col item-left>
			<button color="secondary" type="button" (click)="goToRegister()" ion-button clear>Crear una cuenta</button>
		</ion-col>

		<ion-col item-right>
			<button color="secondary" type="button" ion-button clear>Olvidaste tu contraseña</button>
		</ion-col>
	</ion-row>

</ion-content>